body
{
	margin: 10px;
	padding: 0px;
	background-color: white;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
}

div { margin-bottom: 20px; }

a { color: #5080ff; }

.header_size { font-size: 2.8em; }
.header { font-weight: bold; color: #006480; }

.subheader_size { font-size: 1.6em; }
.subheader { font-weight: bold; color: #0090b0; }

.monospace { font-family: "Courier New", Courier, monospace; }

.indent { margin-left: 20px; }

.code_colorization
{
	word-wrap: break-word;
	font-family: "Courier New", Courier, monospace;
}
